<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add xdt:Transform="Insert" name="SaleDbContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=warehouse;uid=root;password=;CharSet=utf8;"/>
  </connectionStrings>
  
  <entityFramework>
    <interceptors xdt:Transform="Insert">
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="../../log.txt"/>
          <parameter value="true" type="System.Boolean"/>
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
  
</configuration>